.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
 background: radial-gradient(circle at 20% 30%, #dbeafe, transparent 40%),
              radial-gradient(circle at 80% 70%, #e0f2fe, transparent 40%),
              #f9fafb;
}

.login-box {
  width: 400px;
  padding: 20px;
  border: 1px solid #ddd;
  background: white;
  border-radius: 6px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login-box h2 {
  text-align: center;
  margin-bottom: 15px;
}
.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid blue;
}

.login-box button {
  width: 50%;
  padding: 10px;
  background: white;
  color: blue;
  cursor: pointer;
  border: 2px solid blue;
  border-radius: 3px;
  margin-bottom: 10px;
}

.login-box button:hover {
  background: blue;
  color: white;
  transition: all 1s ease;
}

.message-box {
  position: fixed;
  bottom: 180px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.error-msg {
  color: red;
  font-size: 20px;
  padding: 5px;
  background-color: lightgrey;
}

.success-msg {
  color: green;
  font-size: 20px;
  padding: 5px;
  background-color: lightgrey;
}
